body {
    background-color: rgb(254, 250, 239) !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    ;
}

.quiz-card {
    width: 60rem;
}

.quiz-card-child {
    border-radius: 5px;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #27345c;
}

.card-left-txt {
    text-align: center;
}

.hover:hover {
    cursor: pointer;
}

.answer-box:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.quiz-card img {
    background-color: #27345c;


}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.bg-danger, .bg-success {
    color: white;
}

@media (max-width: 768px) {

    .card-left {
        display: flex;
        align-items: center;
        width: inherit;
    }


    .quiz-card img {
        margin: 2rem 0;
        height: 13rem;
        width: 15rem;
    }

    .row {
        --bs-gutter-x: 0 !important;
    }
}